<section class="is-large has-text-centered mt-6">
  <div class="columns">
    <div class="column is-full">
      <nb-icon icon="info"></nb-icon> <p class="subtitle mb-6 has-text-left is-inline-block ml-3">To find reachable amenities, we'll first need your approximate location!</p>
      <img src="assets/location-art.png" width="500">
    </div>
  </div>

  <button (click)="getLocation()" [disabled]="loading" class="is-inline-block" nbButton status="info" size="giant">Get Location</button>

</section>
